{% extends 'base.html.twig' %}

{% block title %}Edit Team{% endblock %}

{% block body %}
    <div class="d-flex flex-column text-center mx-auto justify-content-center p-4" style="width: 600px; margin-top: 100px; color:white">
        <h1 class="my-4">Edit Team</h1>

        {{ form_start(form) }}

        <div class="container col g-3 p-5" style="background-color: #1b1d24; -webkit-box-shadow: 0px 4px 11px -1px rgba(0,0,0,0.52); box-shadow: 0px 4px 11px -1px rgba(0,0,0,0.52);">
            <div class="row">
                <div style="position: absolute">
                    {{ form_label(form.name) }}
                </div>
                <div class="mx-auto">
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="mx-auto my-2">
                {{ form_errors(form.name) }}
            </div>

            <div class="row my-2">
                {{ form_label(form.numberOfPlayers) }}
                {{ form_widget(form.numberOfPlayers, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="mx-auto my-2">
                {{ form_errors(form.numberOfPlayers) }}
            </div>

            <button class="btn btn-outline-success mt-4">{{ button_label|default('Update') }}</button>
        </div>

        {{ form_end(form) }}


        <a href="{{ path('app_team_index') }}" class="btn btn-outline-secondary mt-4" style="width: 150px" role="button">
            <i class="fa-sharp fa-solid fa-arrow-left mr-2"></i>back to list</a>

        {{ include('team/_delete_form.html.twig') }}

    </div>
{% endblock %}
