{% extends 'base.html.twig' %}

{% block title %}Team index{% endblock %}


{% block head %}
    <style>
        .card:hover{
            transform: scale(1.05);
            background-color: red;
        }

        .bg-image {
            background-color: #1F406D;
            transition: background-color 0.2s ease-in-out;
        }

        img:hover{
            transform: scale(1.15);
        }


    </style>
{% endblock %}

{% block body %}

    <div class="jumbotron" style="
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ asset('images/team2.jpg') }}');
            background-size: cover;
            background-position: center;
            height: 400px;
            -webkit-box-shadow: 1px 3px 16px -1px #000000;
            box-shadow: 1px 3px 16px -1px #000000;">
            <div class="container" style="padding: 70px 0">
                <p class="display-4 text-light">Teams</p>

            </div>
    </div>

    <div class="container text-center my-5" style="color: white">
        <div class="container" style="color: white">
            <a href="{{ path('app_team_new') }}" class="btn btn-outline-warning mb-4" role="button">Create new</a>

            <div class="row">
                {% for team in teams %}
                <div class="col-3 my-3">
                    <div class="card" style="
                    background-color: #303540;
                    -webkit-box-shadow: 1px 8px 17px -6px rgba(0,0,0,0.47);
                    box-shadow: 1px 8px 17px -6px rgba(0,0,0,0.47);
                    ">
                        <div class="bg-image hover-zoom" >
                            <img class="card-img-top p-4 hover-shadow" src="{{ asset('images/' ~ team.image) }}" alt="Card image cap" style="width: 80%">
                        </div>
                        <div class="card-body">
                            <div class="d-inline-flex" >
                                <img src="{{ asset('images/logo.png') }}" style="width: 40px; height: 40px" alt="">
                                <h5 class="card-title"style="padding: 7px 0">{{ team.name }}</h5>
                            </div>

                            <p class="card-text">Players: {{ team.numberOfPlayers }}</p>
                            <p class="card-text">Wins: </p>
                            <a href="{{ path('app_team_show', {'id': team.id}) }}" class="btn btn-outline-secondary" role="button">show</a>
                            <a href="{{ path('app_team_edit', {'id': team.id}) }}" class="btn btn-outline btn-warning" role="button">edit</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}